<div class="jumbotron">
	<h1>Home Page for Gameznfilx</h1>
</div>

<p class="bg-primary">This website will let users 
	<ul>Rate movies and games</ul>
	<ul>Write and reviews</ul> 
	<ul>Discuss game and movie news</ul>
</p>

<%= link_to 'Game Reviews', controller: 'reviews' %>


