<div class="jumbotron">
	<h1 class="glyphicon glyphicon-hdd">Gameznfilx</h1>
</div>

<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><%= link_to 'Game Reviews', controller: 'reviews' %></li>
  <li class="active">About Us</li>
</ol>

<p class="bg-primary">This website will let users 
	<ul>Rate movies and games</ul>
	<ul>Write and reviews</ul> 
	<ul>Discuss game and movie news</ul>
</p>

<%= link_to 'Game Reviews', controller: 'reviews' %>


