
<p>
	<strong>Game</strong>
	<%= @review.title %>
</p>

<p>
	<strong>Review</strong>
	<%= @review.text %>
</p>

<%= link_to 'Back to reviews', reviews_path %>
|  <%= link_to 'Edit Review', edit_review_path(@review) %>